.footer-width-fixer {
	width: 100%;
}

/* Container fix for genesis themes */

.dhf-template-genesis.dhf-header .site-header .wrap,
.dhf-template-genesis.dhf-footer .site-footer .wrap {
    width: 100%;
    padding: 0;
    max-width: 100%;
}

/* Container fix for generatepress theme */

.dhf-template-generatepress.dhf-header .site-header,
.dhf-template-generatepress.dhf-footer .site-footer {
    width: 100%;
    padding: 0;
    max-width: 100%;	
}

.dhf-template-generatepress.dhf-header .site-header .inside-header {
	padding: 0;
}

.bhf-hidden {
	display: none
}