.footer-width-fixer {
	width: 100%;
}

/* Aspire pro */

.dhf-stylesheet-aspire-pro .site-header {
    position: static !important;
}

/* Parallax pro */

.dhf-stylesheet-parallax-pro .site-header {
    position: static !important;
}